.bgIcon {
	color: var(--orange-200);
}

.flex {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.image {
	max-height: 530px;
	width: 2500px;
}

@media (max-width: 1000px) {
	.flex {
		width: 100%;
		display: block;
	}
	.image {
		height: 64px;
		width: 100%;
		object-fit: cover;
		border-radius: 14px;
		margin-bottom: 1rem;
	}
}

.margin {
	margin-bottom: 6rem;
}

@media (max-width: 768px) {
	.flex {
		width: 100%;
		display: block;
	}
	.image {
		display: none;
	}
}
