.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* gap: .875rem; */
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.bgIcon {
	color: var(--orange-200);
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	gap: 1.5rem;
	margin-top: 2rem;
}

.gridTechs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	flex-wrap: wrap;
}

.img {
	height: 36px; 
	object-fit: cover;
}

.techs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.name {
	font-weight: 600;
	font-size: .875rem;
}

.content {
	border: 1px solid #E4E4E4;
	margin-top: 2rem;
	padding: 24px 24px;
	background: #f9f9f9;
	border-radius: 24px;
	margin-bottom: 6rem;
}

@media (max-width: 1240px) {
	.container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		gap: .75rem;
		margin: 0 auto;
		text-align: start;
	}

	.grid {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}

@media (max-width: 400px) {
	.grid {
		grid-template-columns: 1fr;
	}
}